@model dynamic

@{
    ViewBag.ActiveHome = "active";
    Layout = "_Layout";
}

<section class="header">
    <div class="overlay"></div>
    <div class="video">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/videos/video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container h-100">
        <div class="d-flex h-100 align-items-center text-center">
            <div class="w-100 text-white">
                <h1 class="text-header display-3">Artificial Intelligence</h1>
                <p class="video-text lead mb-0">Artificial Intelligence (AI) is intelligence demonstrated by machines, as opposed to the natural intelligence displayed by animals including humans. AI research has been defined as the field of study of intelligent agents, which refers to any system that perceives its environment and takes actions that maximize its chance of achieving its goals. Wikipedia</p>
            </div>
        </div>
    </div>
</section>
<section class="top-tech text-center">
    <img src="/images/bg1.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>

    <div class="tech-flow h-100 align-items-center text-center">
        <div class="d-flex h-100 align-items-center text-center">
            <div class="w-100 text-white ">
                <h1 class="topic-header display-3">Top 6 AI Technologies</h1>
            </div>
        </div>
        <div class="d-flex align-items-center text-center">
            <div class="w-100 text-white">
                <div class="row">
                    <div class="col-img col-lg-4 col-sm-6">
                        <img src="/images/technologies/ml.jpg" class="tech-img img-fluid" alt="top-6-tech"/>
                        <div class="tech-content h-100">
                            <div class="d-flex h-100 align-items-center text-center">
                                <div class="w-100 text-white">
                                    <h1 class="topic-header display-3">Machine learning</h1>
                                    <p class="video-text lead mb-0">Machine learning (ML) is a field of inquiry devoted to understanding and building methods that 'learn', that is, methods that leverage data to improve performance on some set of tasks. It is seen as a part of artificial intelligence (Wikipedia).</p>
                                    <a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank" class="btn btn-light">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-img col-lg-4 col-sm-6">
                        <img src="/images/technologies/dl.jpg" class="tech-img img-fluid" alt="top-6-tech"/>
                        <div class="tech-content h-100">
                            <div class="d-flex h-100 align-items-center text-center">
                                <div class="w-100 text-white">
                                    <h1 class="topic-header display-3">Deep learning</h1>
                                    <p class="video-text lead mb-0">Deep learning (also known as deep structured learning) is part of a broader family of machine learning methods based on artificial neural networks with representation learning. Learning can be supervised, semi-supervised or unsupervised (Wikipedia).</p>
                                    <a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank" class="btn btn-light">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-img col-lg-4 col-sm-6">
                        <img src="/images/technologies/nlp.jpg" class="tech-img img-fluid" alt="top-6-tech"/>
                        <div class="tech-content h-100">
                            <div class="d-flex h-100 align-items-center text-center">
                                <div class="w-100 text-white ">
                                    <h1 class="topic-header display-3">Natural language</h1>
                                    <p class="video-text lead mb-0">Natural language processing (NLP) is a subfield of linguistics, computer science, and AI concerned with the interactions between computers and human language, in particular how to program computers to process and analyze large amounts of natural language data (Wikipedia).</p>
                                    <a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank" class="btn btn-light">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-img col-lg-4 col-sm-6">
                        <img src="/images/technologies/nn.jpg" class="tech-img img-fluid" alt="top-6-tech"/>
                        <div class="tech-content h-100">
                            <div class="d-flex h-100 align-items-center text-center">
                                <div class="w-100 text-white ">
                                    <h1 class="topic-header display-3">A neural network</h1>
                                    <p class="video-text lead mb-0">A neural network is a network or circuit of biological neurons, or, in a modern sense, an artificial neural network, composed of artificial neurons or nodes. Thus, a neural network is either a biological neural network, made up of biological neurons, or an artificial neural network, used for solving artificial intelligence (AI) problems (Wikipedia).</p>
                                    <a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank" class="btn btn-light">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-img col-lg-4 col-sm-6">
                        <img src="/images/technologies/cc.jpg" class="tech-img img-fluid" alt="top-6-tech"/>
                        <div class="tech-content h-100">
                            <div class="d-flex h-100 align-items-center text-center">
                                <div class="w-100 text-white ">
                                    <h1 class="topic-header display-3">Cognitive computing</h1>
                                    <p class="video-text lead mb-0">Cognitive computing (CC) refers to technology platforms that, broadly speaking, are based on the scientific disciplines of AI and signal processing. These platforms encompass ML, reasoning, NLP, speech recognition and vision recognition, human-computer interaction, dialog and narrative generation, among other technologies (Wikipedia).</p>
                                    <a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank" class="btn btn-light">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-img col-lg-4 col-sm-6">
                        <img src="/images/technologies/cv.jpg" class="tech-img img-fluid" alt="top-6-tech"/>
                        <div class="tech-content h-100">
                            <div class="d-flex h-100 align-items-center text-center">
                                <div class="w-100 text-white ">
                                    <h1 class="topic-header display-3">Computer vision</h1>
                                    <p class="video-text lead mb-0">Computer vision is an interdisciplinary scientific field that deals with how computers can gain high-level understanding from digital /images or videos. From the perspective of engineering, it seeks to understand and automate tasks that the human visual system can do (Wikipedia).</p>
                                    <a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank" class="btn btn-light">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center text-center">
            <section class="section-3 text-center">
                <img src="/images/bg2.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
            
                <div class="container h-100">
                    <div class="d-flex h-100 align-items-center text-center">
                        <div class="w-100 text-white">
                            <div id="ai-jobs">
                                <h1 class="topic-header display-3">AI Jobs in the last 3 years</h1>
                                <a href="@Url.Action("Jobs", "Page")" class="container" id="sec3-img">
                                    <img src="/images/jobs/top7jobs.jpg" class="img-fluid" alt="jobs">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex h-100 align-items-center text-center">
                        <div class="w-100 text-white">
                            <h1 class="topic-header display-3">Top 12 AI Companies</h1>
                            <div class="row">
                                <a href="@Url.Action("Companies", "Page")#google" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/alphabet.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    Alphabet (Google)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#amazon" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/amazon.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    Amazon
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#apple" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/apple.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    Apple
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#c3ai" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/c3ai.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    C3.AI
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#docusign" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/docusign.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    DocuSign
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#ibm" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/ibm.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    IBM
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#meta" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/metaplatforms.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    Meta Platforms
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#micron" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/micron.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    Micron Technology
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#microsoft" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/microsoft.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    Microsoft
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#nvidia" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/nvidia.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    Nvidia
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#oracle" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/oracle.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    Oracle
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("Companies", "Page")#siemens" class="block col-lg-2 col-md-3 col-sm-4">
                                    <img src="/images/companies/siemens.jpg" class="tech-bg img-fluid" alt="top-6-tech"/>
                                    <div class="content h-100">
                                        <div class="d-flex h-100 align-items-center text-center">
                                            <div class="w-100 text-white">
                                                <span class="company">
                                                    Siemens
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>  
        </div>
    </div>
</section>